* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

html, body {
  background-color: #b8b8b8;
}

.btn:hover {
  cursor: pointer;
}

.container {
  background-color: white;
  padding: 25px 12px;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 100%
}
